project_id               = "YOUR_PROJECT_ID"
region                   = "YOUR_REGION"
github_username          = "YOUR_GITHUB_USERNAME"
github_repo              = "YOUR_REPO_NAME"
db_connection_string     = "YOUR_SUPABASE_CONNECTION_STRING"
jwt_secret               = "YOUR_JWT_SECRET_MIN_32_CHARS"
google_android_client_id = "YOUR_GOOGLE_ANDROID_CLIENT_ID"
google_ios_client_id     = "YOUR_GOOGLE_IOS_CLIENT_ID"
google_web_client_id     = "YOUR_GOOGLE_WEB_CLIENT_ID"
apple_bundle_id          = "YOUR_BUNDLE_ID"
